#about-posts {
    padding: 40px 40px;
}

.photo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.photo-list img {
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
}

.photo-list img:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


/* Tablet */
@media (max-width: 991px) {
    .photo-list img {
        max-width: 300px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .photo-list {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .photo-list img {
        max-width: 70%;
        height: auto;
    }
}
